main {
  background-color: red;
  padding: 50px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.oval-holder {
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: yellow;
  &_gray {
    background: gray;
  }
  &_black {
    background: black;
  }
  &_orange {
    background: orange;
  }

  @media (max-width: 900px) {  
    margin-left: 72px;
    margin-right: 72px;
  } 
}

 